<h2>
  {{ header }}
</h2>
<p>{{ description | uppercase }}</p>
<p>You have <mark [class]="counterClass">{{ numContacts }}</mark> contacts right now.</p>
<input value="Show Form"
       type="button"
       class="primary"
       (click)="formHidden=false" />
<input value="Hide Form"
       type="button"
       class="inverse"
       (click)="formHidden=true" />
<form [ngClass]="{'hidden':formHidden}">
  <fieldset>
    <legend>Contact Form</legend>
    <label for="name">Name</label>
    <input type="text"
           name="name"
           [(ngModel)]="contact.name"
           placeholder="Contact name" />
    <br>
    <label for="isVIP">Is V.I.P.</label>
    <input type="checkbox"
           name="isVIP"
           [(ngModel)]="contact.isVIP">
    <br>
    <label for="gender">Gender</label>
    <input type="radio"
           value="male"
           name="gender"
           [(ngModel)]="contact.gender"> <span>Male</span>
    <input type="radio"
           value="female"
           name="gender"
           [(ngModel)]="contact.gender"> <span>Female</span>
    <br />
    <label for="workStatus">Work Status</label>
    <select name="workStatus"
            [(ngModel)]="contact.workStatus">
      <option *ngFor="let status of workStatuses"
              [value]="status.id">
        <span>{{ status.description }}</span>
      </option>
    </select>
    <section *ngIf="contact.workStatus==3; else education">
      <label for="companyName">Company Name</label>
      <input type="text"
             name="companyName"
             [(ngModel)]="contact.companyName"
             placeholder="Company name" />
    </section>
    <ng-template #education>
      <br />
      <label for="education">Education</label>
      <input type="text"
             name="education"
             [(ngModel)]="contact.education"
             placeholder="Education" />
    </ng-template>
  </fieldset>
  <input type="submit"
         value="Save"
         (click)="saveContact()" />
</form>
<pre>{{ contact | json }}</pre>
<ul *ngIf="contacts.length>0; else empty">
  <li *ngFor="let contact of contacts">
    <span>{{ contact.name }}</span>
    <input type="button"
           value="Delete"
           (click)="deleteContact(contact)">
  </li>
</ul>
<ng-template #empty>
  <i>No data yet</i>
</ng-template>
